h1 {
    color: #1F5B3E;
    text-align: center;
}

h2 {
    color: #1F5B3E;
    text-align: center;
}

body {
    background-color: #F6F7EB;
    font-family: Arial, sans-serif;
    margin: 0;
}

p {
    margin: 20px;
}

nav {
    background-color: #123524;
    border-bottom: 5px solid #1F5B3E;
    padding: 10px;
    text-align: center;
    min-height: 100px;
}

nav img {
    float: center;
	padding-top: 10px;
}

li {
	list-style-type: none;
}
	
nav a:link {color: #F6F7EB;}
nav a:hover {color: #0000EE;}

p {
  border: 2px solid #123524;
  padding: 15px;
  margin: 20px;
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
}